body {
    font-size: 15pt;
    background: pink;
}
h2{
    background: skyblue;
    border: solid 4px sandybrown;
}
p{
    background: skyblue;
    border: solid 4px sandybrown;
}
img{
    background: skyblue;
    border: solid 4px sandybrown;
}
video{
    background: skyblue;
    border: solid 4px sandybrown;
}